<h1><%= @auction.title %></h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>End Time</th>
    <th>Seller</th>
    <th><!-- show --></th>
    <th><!-- edit --></th>
    <th><!-- delete --></th>
  </tr>
  <%= render @auction %>
</table>

<div class="row">
  <div class="well col-xs-4">
    <% if @auction.current_bid %>
      <%= render @auction.current_bid %>
    <% else %>
      <h2>No bids.</h2>
    <% end %>
    <% unless logged_in? && current_user == @auction.seller %>
      <%= render :partial => 'errors', :locals => { :object => @bid } if @bid.errors.any? %>
      <%= render :partial => "bids/form" %>
    <% end %>
  </div>
</div>
